body{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

button{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

footer{
    background-color: rgb(216, 29, 29);
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: -20px auto 0 auto;
    width: 80%;  
}

header{
    background-color: rgb(216, 29, 29);
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding-bottom: 10px;
    width: 80%;
}

header a{
    text-decoration: none;
    color: white;
}

header button{
    background-color: burlywood;
    border: transparent;
    border-radius: 2px;
    font-size: 20px;
    margin: 2px;
}

header button:hover{
    background-color: rgb(224, 201, 170);  
}

header h1{
    margin-bottom: 10px;
}

h1 > img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

main{
    background-color: rgb(216, 29, 29);
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: -10px auto 0 auto;
    width: 80%;
}